html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}
.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}
.position-ref {
    position: relative;
}

.content {
    text-align: center;
    position: absolute;
    top: 7pc;
}
.ueberschrift {
    font-size: 84px;
}

.title {
    font-size: 2em;
}
.subtitle {
    font-size: 1em;
}


.links > a {
    color: #636b6f;
    padding: 0 50px;
    font-size: 0.75em;
    font-weight: 600;
    letter-spacing: .2rem;
    text-decoration: none;
    text-transform: uppercase;
}
.m-b-md {
    margin-bottom: 50px;
}
.popup {
    width: 33.333333%;
    padding: 15px;
    left: 0;
    margin-left: 33.33333%;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: white;
    position: absolute;
    top: 15%;

    box-shadow: 5px 5px 5px #000;
    z-index: 10001;
}
.overlay {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.85);
    z-index: 10000;
}

.container {
    position: absolute;
    max-width: 900px;
    margin: 10px auto;
    position: relative;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}
/*
.randrot{
    border-width:        6px;
    border-style:       solid;
    border-color:        red;
}
.randblau{
    border-width:        6px;
    border-style:        solid;
    border-color:        blue;
}
.randgrün{
    border-width:        6px;
    border-style:        solid;
    border-color:        green;
}
.randgelb{
    border-width:        6px;
    border-style:        solid;
    border-color:        yellow;
}
