html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}
.flex-center {
    display: flex;
    justify-content: center;
}
.welcome-c {
    text-align: center;
    position: absolute;
}
.slider-c {
    text-align: center;
    position: absolute;
    top: 7pc;
}
.overlay {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.85);
    z-index: 10000;
}
.ueberschrift {
    font-size: 5vw;
    font-weight: 800;
}
.links > a {
    color: #636b6f;
    padding: 0 50px;
    font-size: 5vh;
    font-weight: 600;
    letter-spacing: .2rem;
    text-decoration: none;
    text-transform: uppercase;
}
.containerbox {
    max-width: 900px;
    margin: 10px auto;
    position: relative;
    /*bottom: 0;*/
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    padding: 20px;
    font-weight: bold;
    top: 6pc;
}
.popup {
    padding: 15px;
    right: 2%;
    left: 2%;
    font-size: 105%;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: white;
    position: absolute;
    top: 30%;
    box-shadow: 5px 5px 5px #000;
    z-index: 10001;
}
.imageres {
    max-width: 100%;
    height: auto;
}
.lootbox{
    padding: 15px;
    right: 30%;
    left: 30%;
    background: transparent;
    position: absolute;
    top: 30%;
    z-index: 10001;
}
/* Für Handys */
@media only screen and (max-width: 800px) {
    .ueberschrift {
        font-size: 5vh;
        font-weight: 800;
    }
    .links > a {
        color: #636b6f;
        padding: 0 50px;
        font-weight: 600;
        font-size: 3.5vh;
        letter-spacing: .2rem;
        text-decoration: none;
        text-transform: uppercase;
    }
    .popup {
         padding: 15px;
         right: 2%;
         left: 2%;
         font-size: 105%;
         border: 1px solid #ccc;
         border-radius: 10px;
         background: white;
         position: absolute;
         top: 30%;
         box-shadow: 5px 5px 5px #000;
         z-index: 10001;
     }
    .lootbox {
        padding: 15px;
        right: 20%;
        left: 20%;
        background: transparent;
        position: absolute;
        top: 30%;
        z-index: 10001;
    }
    .containerbox {
        max-width: 900px;
        margin: 10px auto;
        position: relative;
        /*bottom: 0;*/
        background: rgb(0, 0, 0); /* Fallback color */
        background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
        color: #f1f1f1;
        padding: 20px;
        top: 3pc;
        font-weight: bold;
    }
}



